.pagination{
    display: flex;
    gap:50px;
    color:#EDBC30;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.pagination li{
    cursor: pointer;
}
.pagination li.selectedPage{
    color:#DC6B11;
    font-weight: 600;
}