.nav {
    margin-top: 40px;
    grid-area: nav;
}

.nav__list {
    display: flex;
    flex-direction: column;
    gap: 35px;
    color: #EDBC30;
    font-size: 28px;
    font-weight: 600;
}

.nav__item {
    transition: color .2s ease;
}

.nav__item:hover,
.active{
    color: #DC6B11;
}